<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="FullMaster.Master.cs" Inherits="HTLBIWebApp2012.Shared.FullMaster" %>

<%@ Register src="UserControl/wcMainMenu.ascx" tagname="wcMainMenu" tagprefix="uc1" %>

<%@ Register src="UserControl/wcSubMenu.ascx" tagname="wcSubMenu" tagprefix="uc2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="../Content/CSS/css.css" rel="stylesheet" type="text/css" />
    <link href="../Content/CSS/css_002.css" rel="stylesheet" type="text/css" />
    <link href="../Scripts/JQuery/themes/cupertino/jquery-ui-1.8.2.custom.css" rel="stylesheet" type="text/css" />

    <script src="../../Scripts/JQuery/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/JQuery/autoNumeric-1.7.4.js" type="text/javascript"></script>    
    <script src="../../Scripts/JQuery/jquery.numberformatter-1.2.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/JQuery/jquery.maskedinput-1.2.2.min.js" type="text/javascript"></script>
    <script src="../../Scripts/JQuery/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script>
    <script src="../../Scripts/JQuery/Json-ende.js" type="text/javascript"></script>    
    <script src="../../Scripts/common.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="headContent" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <script type="text/javascript" language="javascript">
        function MasterPage_Valid_OnSubmit() {
            try {
                return Valid_OnSubmit();
            }
            catch (err) { return true; }
        }
    </script>

    <form id="form1" runat="server" onsubmit="return MasterPage_Valid_OnSubmit();">    
        <div id="adminNavsWrapper">                        
            <div class="adminNavs adminRight">
                <ul>
	                <li>
                        <a><asp:LoginName ID="LoginName1" runat="server" /></a>
                    </li>
	                <li>
                        <a><asp:LoginStatus ID="LoginStatus1" runat="server" LoginText="Login" LogoutText="Logout" /></a>
                    </li>                    
                </ul>
            </div>
        </div>        
        <div class="clear"></div>
        <div id="case">
            <div class="shadowHeader">
                <div class="navheaderleft">
                    <div class="shadowMidLeft">
                        <div class="navheader">
                            <div id="header">
                                <h1><a href="http://www.htlvn.com">HTL Business Analysis </a></h1>
		                        <div id="primaryNavs">
		                            <uc1:wcMainMenu ID="mainMenu" runat="server" />
		                        </div>
		                        <div class="clearMyHead"></div>
	                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="shadowWrap">
                <div class="shadowMidLeft">
                    <div class="shadowMidContent">
	                    <div id="subNavs">
	                        <uc2:wcSubMenu ID="subMenu" runat="server" />
	                    </div>
	                    <div>	
	                        <div id="contentpage"> <!-- id="contentpage" -->	                            
	                            <asp:contentplaceholder id="bodyContent" runat="server">
                                </asp:contentplaceholder>
	                            <div class="clear"></div>
                                <asp:contentplaceholder id="footerContent" runat="server">
                                </asp:contentplaceholder>                                
                                <hr style="background-color:Aqua" />
                                <div id="copyRight1">
                                    <center><h4>©<%=DateTime.Now.Year.ToString()%> Htlvn.com. All Rights Reserved.</h4></center>
                                </div>
	                        </div>
	                    </div>
                    </div>
                </div>
            </div>
            <div class="shadowBottomLeft">
                <div class="shadowMidLeft"></div>
            </div>
        </div>               
        <%--Script Đánh dấu trên menu được chọn và Disable chức năng Link của nó--%>
        <%--Hiện tại đã được chuyển vào wcMainMenu--%>        
   </form>
</body>
</html>
