/* ----- HEADER ----- */

body#admin #adminWrap, body#admin #dashboard {
	background: none;
}
#case .shadowHeader, #case .shadowHeader .shadowMidLeft, #primaryNavs {
	background-color:#2f4367;
}
/*]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]]*/
.navheader {
	background: url("../Images/header-bg.gif") repeat-x right bottom;
}
.navheaderleft {
	background: url("../Images/header-bg-left.gif") no-repeat left bottom;
	_background: none;
}
#header {
	width:100%;
	font-size:12px;
	line-height:normal;
	text-align: left;
}
#header h1 {
	color: #abd;	
	font: bold 24px arial, helvetica, sans-serif;
	padding: 20px 0 22px 5px;
	line-height: 26px;
	text-shadow: Yellow 3px 3px 3px;
	/*text-shadow: #1e2d48 1px 1px 3px;*/
}
#header h1 a {
	/*color: #abd;*/
	color:Yellow;
	text-decoration: none;
}
#header h1.image {
	color: #abd;
	font: bold 24px arial, helvetica, sans-serif;
	padding:0 0 10px;
}
#header h1 span, #header h1.image span {
	color: #fff;
	font: bold 16px arial, helvetica, sans-serif;
	padding: 0 0 0 10px;
}
#header h1 span a, #header h1.image span a {
	background: url("../Images/switch-client.gif") no-repeat right 2px;
	color: #fff;
	padding-right: 25px;
}
#header h1 span a:hover, #header h1.image span a:hover {
	background: url("../Images/switch-client-on.gif") no-repeat right 2px;
}
#nodd a, #nodd a {
	background: none !important;
}
#nodd a:hover, #nodd a:hover {
	background: none !important;
}
#sampleColor {
	float: left;
	width: 27px;
	height: 27px;
	background: #009754;
	margin: 3px 10px 10px 0;
}

/* ----- TABLES ----- */

table.tableHeader th.dash {
	background: url("../Images/dash-table-head.gif") repeat-x top left;
	padding: 11px 6px 10px 6px;
	font-size: 12px;
	color: #42424c;
}
table.tableHeader th.dashLeft {
	background: url("../Images/dash-head-left.gif") no-repeat top left;
	padding-left: 11px;
}
table.tableHeader th.dashRight {
	background: url("../Images/dash-head-right.gif") no-repeat top right;
	padding-right: 11px;
}
table.tableHeader th.dashLeft span {
	color: #666;
}
.bghighlight {
	background: #f1f1f1;
}
h3.sidebar {
	color: #484e54;
}
tr.highlightRow, tr.skinAltRow {
	background-color: #f9fff8;
}


/* ----- LINKS AND FORMS ----- */

a:link, a:visited, a:hover, a:active {
	color: #2f4367;
}
a.manage {
	color: #797979;
	font-size: 11px;
}
table.tableHeader th.sectionTitle span a {
	color: #2f4367;
	text-decoration: underline;
}
.formBG h3, label.h3checkbox, .formBGCSS h3 {
	color: #2f4367;
	font-size: 14px;
	font-weight: bold;
}
.formBG label.checkbox {
	color: #204e8e;
}


/* ----- PRIMARY NAVS ----- */

#primaryNavs {
	margin: 0 6px 0 6px;
}
#primaryNavs ul {
	margin:0;
	padding:0 15px 0 0;
	list-style:none;
}
#primaryNavs li {
	display:inline;
	margin:0;
	padding:0;
}
#primaryNavs a {
	float:left;
	/*background:url("../Images/left_both.gif") no-repeat left top;*/
	background-image:url("../Images/left_both.gif");
	background-repeat:no-repeat;
	background-position: left top;	
	
	margin:0;
	padding:0 0 0 12px;
	text-decoration:none;
	font-size: 12px;
	display: inline;
}
#primaryNavs a span {
	float:left;
	display:block;
	/*background:url("../Images/right_both.gif") no-repeat right top;*/
    background-image:url("../Images/right_both.gif");
	background-repeat:no-repeat;
	background-position:right top;
	
	padding:8px 12px 8px 0;
	font-weight:bold;
	color:#fff;
	text-shadow: none;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#primaryNavs a span {float:none;}
/* End IE5-Mac hack */
#primaryNavs a:hover {
	color:#000000; /*#fff*/
	background:url("../Images/left-sub_on.gif") no-repeat left top;
}
#primaryNavs a:hover span {
	color:#000000;
	background:url("../Images/right-sub_on.gif") no-repeat right top;
}
/* nobiet
#primaryNavs a:hover {
	background-position:0% -100px;
}
#primaryNavs a:hover span {
	background-position:100% -100px;
}
*/

#primaryNavs #current a {
	background-image:url("../Images/left_on.gif");
	border-width:0;
}
#primaryNavs #current a span {
	background-image:url("../Images/right_on.gif");
	color:#353d4c;
	padding-bottom:8px;
	text-shadow: none;
}
#primaryNavs #currentSub a {
	background-image:url("../Images/left-sub_on.gif");
	border-width:0;
}
#primaryNavs #currentSub a span {
	background-image:url("../Images/right-sub_on.gif");
	color:#353d4c;
	padding-bottom:8px;
	text-shadow: none;
}

#primaryNavs #current a:hover, #primaryNavs #currentSub a:hover {
	background-position: top left;
}
#primaryNavs #current a:hover span, #primaryNavs #currentSub a:hover span {
	background-position: top right;
}
#secondaryNavs ul {
	margin-right: 5px;
}
#secondaryNavs a {
	float:right;
	background:url("../Images/left_both.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 12px;
	text-decoration:none;
}
#secondaryNavs a span {
	float:right;
	display:block;
	background:url("../Images/right_both.gif") no-repeat right top;
	padding:8px 12px 8px 0;
	font-weight:bold;
	color:#fff;
	text-shadow: none;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#secondaryNavs a span {float:none;}
/* End IE5-Mac hack */


/* ----- SUB NAVS ----- */

#subNavs {
	background: #f1f4f9;
	margin: -1px -2px 0 -4px;
	border-bottom: 1px solid #e2e8f1;
	/*padding: 10px 19px 8px 19px;*/
	padding: 5px 19px 4px 19px;
	height:20px; /*10px*/
	font-size: 11px;
	font-weight: bold;
	color: #647ba4;
}
#subNavs a {
	color: #647ba4;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 9px;
}
#subNavs a.active, #subNavs a:hover {
	color: #192946;
}

/* ----- CLIENT NAVS ----- */

.clientNavs a span {
	color:#859abe;
}
.clientNavs a:hover span, .clientNavs li#clientNavsOn a span {
	color:#fff;
}

/* ----- DECORATIVE ----- */

div.segmentDivider span {
	background: #2f4367;
}

